<div class="container">
	<div class="row">
		<% @albums.each do |album| %>
		<div class="col-md-6 mt-3">
			<div class="card-body" >
				<div class="card">
					<%= image_tag(album.image, class: 'card-img-top') %>
					<div class="card-block">
						<h4 class="card-title">Người tạo album: <%=album.user_name%></h4>
						<p class="card-text">Số lượt xem: <%=album.sum_view%></p>
					</div>
					<a href="#" class="card-link">View</a>
				</div>

			</div>
		</div>
		<% end %>
	</div>
</div>