<div class="container">
	<div class="row justify-content-center">
		<h1 class="text-info">Thông tin nhóm</h1>
	</div>
	<div class="row">
		<h3 class="text-primary ml-3">Nhóm: K12</h3>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<%= image_tag("1212338.jpg", class: 'imageInfo') %>
				<div class="card-block">
					<h4 class="card-title">1212338</h4>
					<p class="card-text">Nguyễn Minh Tài</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<%= image_tag("1212337.jpg", class: 'imageInfo') %>
				<div class="card-block">
					<h4 class="card-title">1212337</h4>
					<p class="card-text">Hoàng Minh Tài</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style='width: 800px;'>
			<div id="map" style='width: 800px; height: 400px;'></div>
		</div>
	</div>
</div>
</div>